---
layout: default
---
<section class="hero" style="padding-top: 1em;">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <figure class="image container is-128x128">
          <img src="{{ "/assets/color-logo.png" | relative_url }}" />
        </figure>
      </div>
      <div class="hero-body">
        <h1 class="title">{{ page.title }}</h1>
        <h2 class="subtitle">{{ page.subtitle }}</h2>
      </div>
    </div>
  </div>
</section>
  
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered">
        {{ content }}
        <div class="column has-text-centered">
          {% for frog in site.frogs %}
            {%- include frog_card.html -%}
          {% endfor %}
        </div>
      </div>
      <div class="column box is-two-thirds" style="height:90vh; position: sticky; top: 3.2rem;">
        <div id='map' style="width: 100%; height: 100%;"></div>
      </div>
    </div>
  </div>
</section>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoibmVhbGYiLCJhIjoiY2swcTJkdnFoMDQ1eDNtbmJ1ZHF6c3lxMCJ9.MqHRdYl4lNho2BDCOQUGKg';
  var map = new mapboxgl.Map({
      style: 'mapbox://styles/nealf/ck0pzzhz6cei01dmvfmc50hhw',
      center: [-80.413, 37.229],
      zoom: 16,
      container: 'map',
      antialias: true
  });
  
  // The 'building' layer in the mapbox-streets vector source contains building-height
  // data from OpenStreetMap.
  map.on('load', function() {
    
    map.addControl(new mapboxgl.GeolocateControl({
      positionOptions: {
        enableHighAccuracy: true
      },
      trackUserLocation: true
    }));
    map.addLayer({
      id: 'frogs',
      source: {
        type: 'geojson',
        data: '{{ "/assets/frogs.geojson" | relative_url }}'
      },
      type: 'circle',
      paint: {
        "circle-radius": 25,
        "circle-opacity": 0.05
      }
    });
    map.on('click', 'frogs', function (e) {
      var coordinates = e.features[0].geometry.coordinates.slice();
      var name = e.features[0].properties.name;
      var shortname = e.features[0].properties.shortname;
      
      // Ensure that if the map is zoomed out such that multiple
      // copies of the feature are visible, the popup appears
      // over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }
      window.location.hash = '#' + shortname;
    });
  });

  var frogCardMapIcons = document.getElementsByClassName('frog-map-icon');
  for(let i = 0; i < frogCardMapIcons.length; i++) {
    frogCardMapIcons[i].addEventListener("click", function(e) {
      frogId = e.target.closest('.card').id;
      console.log(map.getSource('frogs'));
      clickedFrog = map.querySourceFeatures('frogs', {
        filter: ["==", "shortname", frogId]
      });
      console.log(clickedFrog[0].geometry.coordinates);
      map.flyTo({ center: clickedFrog[0].geometry.coordinates });
    })
  }
</script>
